*

!environment.yml
!setup.py

!.dvc/config
!.dvc/plots
!.dvcignore
!data/interim/*.dvc
!data/raw/*.dvc
!dvc.lock
!dvc.yaml
!params.yaml

!scripts
!src
!test

**/__pycache__
**/.ipynb_checkpoints
**/.pytest_cache
**/*.pyc
**/cache
**/tmp
